*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../images/background-mario.jpg);
    background-repeat: no-repeat;
  background-position-y:100%;
  background-size: cover;
  overflow: hidden;
}

.pipe{
    position: absolute;
    bottom: 105px;
    width: 70px;
    height: 70px;
    animation: pipe-animation infinite linear 1.5s;
}

.mario{
    position: absolute;
    height: 152px;
    bottom: 105px;
   
}

.clouds{
    position: absolute;
    width: 480px;
    animation: clouds-animation 10s infinite linear
}

@keyframes clouds-animation{
    from{
        right:-480px;
    }
to{
    right: 100%;
}

}



.jump{
    animation: jump .7s ease-out ;
}

@keyframes pipe-animation{

from{
    right:0;

}

to{
    right: 100%;
}

}

@keyframes jump{

0%{
    bottom: 105px; 
}

40%{
    bottom: 190px; 
}
50%{
    bottom: 200px; 
}

60%{
    bottom: 190px; 
}

100%{
    bottom: 105px;  
}

}

