@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');
/* font-family: 'Montserrat', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #F585D1;
}

figure{
    background-color: #C63596;
    border-radius: 0px 0px 20px 20px;
    
}
.text-user{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 120px;
    border-bottom: 2px solid #C63596;
}

.barra{
    border-radius: 30px;
    border: 2px solid  #C63596;
}

.entrar, .cad{
    text-decoration: none;
    padding: 15px;
    margin: 10px 40px;
    background-color: #C63596;
    border-radius: 30px;
    border: 2px solid  #fff;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}


.entrar:hover, .cad:hover{
    color: #F585D1;
}


.menu{
    background-color: #fff;
    height: 70px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position:fixed;
    bottom: 0;
    width: 100%;
}


.menu a{
    color: #F585D1;
    font-size: 1.6rem;

}

.menu a span{
    color: #C63596;
}

.text .add{
    color: #C63596;

    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 15px;
}

label{ font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}

.dados{
    align-items: center;
}

.dados h3{ 
    color: #C63596;
    font-family: 'Montserrat';
    font-size: 1.3rem;
    font-weight: 700;
}

.dados h4{
    color: #fff;
    font-family: 'Montserrat';
    padding-left: 10px;
    font-size: 1rem;
}

.title{
    font-size: 2rem;
    font-family: 'Montserrat';
}